

a:link {
  text-decoration: none;
  color: gray;
}

a:hover {
    color: black;

}

h2 > a {
  color: gray;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

#header:link {
  font-family: 'Cormorant Garamond', serif;
}

#header {
  color: black;
}

.col-md-3 {

  height: 280px;
  /*background-image: url(../images/sweden/1.png);*/
}

.about {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;

}

#hi {
  background-color:red;
  position: relative;
  height:50px;
  width: 50px;
}

.cool {
  height:200px;
  width:200px;
  background-color: red;
  opacity: 0;
}